/node_modules
/.git
/config.ts
/test/config.ts
/public/bootstrap.min.css
/public/bootstrap.min.css.map
/public/bootstrap.min.js
/public/bootstrap.min.js.map
/public/bundle.js
/public/bundle.js.map
/public/bundle.js.LICENSE.txt
/public/favicon.ico