body {
    font-family: Tahoma, sans-serif;
    background:#252525; 
  }

  h1 {
    color: white;
    font-size: 45px;
  }

  p {
    color: white;
    font-size: 30px;
  }

  .card {
    color: white;
    font-size: 30px;
    font-family: Tahoma, sans-serif;
  }
  
  .styling-navbar {
    color: white;
    font-family: Tahoma, sans-serif;
  }

   .nav-link {
    color: white;
    font-family: Tahoma, sans-serif;
    background: blue;
  }