name: Client/Server test with Jest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
    client-test:
      runs-on: ubuntu-latest

      strategy:
        matrix:
          node-version: [12.x, 14.x, 16.x]

      steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: client-test
        run: |
          cd client
          npm install
          npm run-script test
    server-test:
      runs-on: ubuntu-latest

      env: 
        # Configure server/src/mysql-pool.ts
        MYSQL_HOST: localhost
        MYSQL_USER: root # Docker commands are run as root
        MYSQL_PASSWORD: '' # Default root password is empty string
        MYSQL_DATABASE: games_website_test

      strategy:
        matrix:
          node-version: [12.x, 14.x, 16.x]

      steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: server-test
        run: |
          apt-get update
          apt-get -y upgrade
          apt-get -y install mysql-server
          service mysql start
        # Workaround from https://github.com/mysqljs/mysql/issues/1507#issuecomment-242885003
          echo "UPDATE user SET authentication_string=password(''), plugin='mysql_native_password' WHERE user='root';" | mysql mysql
          mysqladmin create $MYSQL_DATABASE 
          mysql $MYSQL_DATABASE < .github/workflows/db_structure.sql
          cd server
          touch test/config.ts
          npm install
          npm run-script test
          
    
