name: Client/Server test with Jest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
    client-test:
      runs-on: ubuntu-latest

      strategy:
        matrix:
          node-version: [12.x, 14.x, 16.x]

      steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: client-test
        run: |
          cd client
          npm install
          npm run-script test
    server-test:
      runs-on: ubuntu-latest

      env: 
        # Configure server/src/mysql-pool.ts
        MYSQL_HOST: localhost
        MYSQL_USER: root
        MYSQL_PASSWORD: root
        MYSQL_DATABASE: games_website_test
      
      # Container to run SQL service for tests
      services:
        mysql:
          image: mysql
          env:
            MYSQL_USER: $MYSQL_USER
            MYSQL_PASSWORD: $MYSQL_PASSWORD
            MYSQL_DATABASE: $MYSQL_DATABASE
          ports:
            - '8888:3306'
          options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

      strategy:
        matrix:
          node-version: [12.x, 14.x, 16.x]

      steps:
        - uses: actions/checkout@v2

        - name: Use Node.js ${{ matrix.node-version }}
          uses: actions/setup-node@v1
          with:
            node-version: ${{ matrix.node-version }}

        - name: server-test
          run: |
            mysql -h 127.0.0.1 --port 8888 -u$MYSQL_USER -p$MYSQL_PASSWORD -e "CREATE DATABASE IF NOT EXISTS $MYSQL_DATABASE;"
            mysql -h 127.0.0.1 --port 8888 -u$MYSQL_USER  $MYSQL_DATABASE < .github/workflows/db_structure.sql
            cd server
            touch test/config.ts
            npm install
            npm run-script test
          
    
